# Archivos sensibles
.env
*.env
*.key
*.pem
*.crt
*.secret
*.token
secrets.json
config/*.json
.git

# Archivos temporales
__pycache__/
*.pyc
*.log
*.tmp
.dist/
*.tfstate
*.tfstate.*
*.terraform.lock.*
.terraform
**/.terraform/*
.terraformrc
terraform.rc
node_modules/
*.log
*.tmp
*.bak
*.swp

# Dependencias
node_modules/
venv/
.env/

# Crash log files
crash.log
crash.*.log
