name: Build and Push Multiple Docker Images

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push API image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./AWS/Dockerfiles/backend/BE.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest

  build-database:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Web image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./AWS/Dockerfiles/database/DB.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/database:latest

  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Worker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./AWS/Dockerfiles/frontend/FE.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest

  terraform:
    name: Apply Terraform
    runs-on: ubuntu-latest
    outputs:
      fe_ip: ${{ steps.outputs.outputs.fe_ip }}
      be_ip: ${{ steps.outputs.outputs.be_ip }}
      
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
      
      - name: Configure Terraform Cloud credentials
        run: |
          mkdir -p $HOME
          cat <<EOF > $HOME/.terraformrc
          credentials "app.terraform.io" {
            token = "${{ secrets.TF_TOKEN }}"
          }
          EOF
          
      - name: Terraform Init
        run: terraform -chdir=AWS/ init

      - name: Set SSH env
        run: |
              echo "$BE_IP" >> $GITHUB_ENV
              echo "$PRIVATE_KEY" >> $GITHUB_ENV
              
      - name: Terraform Apply
        run: terraform -chdir=AWS/ apply -auto-approve

      - name: Read outputs
        id: outputs
        run: |
              FE_IP=$(terraform -chdir=AWS output -raw instance_IP_FE)
              BE_IP=$(terraform -chdir=AWS output -raw instance_IP_BE)
              echo "fe_ip=$FE_IP" >> $GITHUB_OUTPUT
              echo "be_ip=$BE_IP" >> $GITHUB_OUTPUT
              terraform -chdir=AWS output -raw private_key > private_key.pem
              chmod 600 private_key.pem
              echo "PRIVATE_KEY<<EOF" >> $GITHUB_ENV
              cat private_key.pem >> $GITHUB_ENV
              echo "EOF" >> $GITHUB_ENV
               

  deploy-to-ec2-FE:
    runs-on: ubuntu-latest
    needs: terraform

    steps:
      - uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ needs.terraform.outputs.fe_ip }}
          username: ubuntu
          key: ${{ needs.terraform.outputs.private_key }}
          script: |
            cd /home/ubuntu/app
            docker compose pull
            docker compose up -d --remove-orphans

  deploy-to-ec2-BE:
    runs-on: ubuntu-latest
    needs: terraform

    steps:
      - uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ needs.terraform.outputs.be_ip }}
          username: ubuntu
          key: ${{ needs.terraform.outputs.private_key }}
          script: |
            cd /home/ubuntu/app
            docker compose pull
            docker compose up -d --remove-orphans
